<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Vulnerable App</title>
</head>
<body>
    <h1>Welcome to the Vulnerable App</h1>
    <ul>
        <li><a href="/webshell">Web Shell</a></li>
        <li><a href="/xss">XSS</a></li>
        <li><a href="/login">SQL Injection & Brute Force</a></li>
        <li><a href="/phishing">Phishing</a></li>
    </ul>
</body>
</html>
